# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Logs
*.log

# Azure DevOps
.azure-pipelines/

# Rider
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
packages/
.nuget/

# OS files
.DS_Store
Thumbs.db

# Test results
TestResults/
*.trx
*.coverage

# Publish output
publish/

# Temporary files
*.tmp
*.temp

# Resharper
_ReSharper*/
*.DotSettings.user

# Others
*.cache
*.pid